$colors: (
  primary: #48b6cb,
  secondary: #595a5c,
  azure: #f5fdff,
  panache: #eef6ea,
  spun-pearl: #acacad,
  iron: #cecfd1,
  os-tomato: #f15946,
  alice-blue: #f8f9fa,
  apple: #4eab38,
  whisper: #e7e7e7,
);